.m-MainThree(data-js="MainThree")
  canvas.m-MainThree__canvas(data-mainthree-canvas)
  video.m-MainThree__video(data-mainthree-video loop muted)
    source(src="../assets/videos/spokoj.mp4" type="video/mp4")