.m-Content
  p.m-Content__desc
    span.m-Content__title S-Pokój - 
    | połączenie wygodnego fotela z narzędziami relaksacyjnymi. Dzięki naszemu rozwiązaniu użytkownik zyskuje estetyczny mebel, który zapewnia nie tylko przestrzeń do relaksu, ale również ma   do dyspozycji narzędzie terapeutyczne, które maksymalizują ten proces. Wygodne obiekty pozwalają na oderwanie się od wszechogarniającego stresu, a dostępne narzędzia są dedykowane       zregenerowaniu sił i nabraniu nowych. 
  .m-Content__slides
    .m-Content__slide
      img(src="../assets/images/FirstSlide.png")
    .m-Content__slide
      img(src="../assets/images/SecondSlide.png")
    .m-Content__slide.m-Content__slide--full
      img(src="../assets/images/ThirdSlide.png")
    .m-Content__slide
      img(src="../assets/images/FourthSlide.png")
    .m-Content__slide
      img(src="../assets/images/FifthSlide.png")
    .m-Content__slide.m-Content__slide--full
      img(src="../assets/images/SixthSlide.png")
    .m-Content__slide.m-Content__slide--full
      img(src="../assets/images/SeventhSlide.png")
    .m-Content__slide.m-Content__slide--full
      img(src="../assets/images/EigthsSlide.png")