.m-Hero(data-js="Hero")
  h1.m-Hero__title S-POKÓJ
  button.m-Hero__seemore(data-hero-seemore) Dowiedz się więcej

.m-Hero__popup(data-hero-popup)
  button.m-Hero__popup__close(data-hero-close)
    img(src="../assets/images/cancel.svg" alt="Zamknij Okno")
  p.m-Hero__popup__desc Połączenie wygodnego fotela z narzędziami relaksacyjnymi. Dzięki naszemu rozwiązaniu użytkownik zyskuje estetyczny mebel, który zapewnia nie tylko przestrzeń do relaksu, ale również ma do dyspozycji narzędzie terapeutyczne, które maksymalizują ten proces. Wygodne obiekty pozwalają na oderwanie się od wszechogarniającego stresu, a dostępne narzędzia są dedykowane zregenerowaniu sił i nabraniu nowych. 