/* Module: Logos */
.m-Logos {
  position: absolute;
  bottom: 32px;
  right: 32px;
  max-width: 200px;
  z-index: 13;
  @media only screen and (min-width: $breakpoint-desk) {
    max-width: 418px;
  }
}
