/* Module: Logos */
.m-Logos {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 200px;
  z-index: 21;
  @media only screen and (min-width: $breakpoint-desk) {
    bottom: 32px;
    right: 32px;
    max-width: 392px;
  }
}
